@import url(home.css);
@import url(album.css);
:root {
    --cor-da-fonte: #F6F6F6;
    --cor-de-fundo: #000000;
    --fonte-principal: 'Now Medium', sans-serif;
    --fonte-secundaria: 'Rasputin', serif;
    
}

[data-contexto="Home"] {
    --main-bg-color: linear-gradient(#391c05 , #000000,#86baee);
}

[data-contexto="lobos"] {
    --main-bg-color: linear-gradient(#5A5A5A, #B7B7B7);
}

[data-contexto="anti-heroi"] {
    --main-bg-color: linear-gradient(#003B41, #000000);
}

[data-contexto="pirata"] {
    --main-bg-color: linear-gradient(#000000, #176B87);
}

[data-contexto="super"] {
    --main-bg-color: linear-gradient(#496C81, #C0C4E6);
}

[data-contexto="contato"] {
    --main-bg-color: linear-gradient(#9eddff, #6573a2);
}
[data-contexto="album"]{
    --main-bg-color: linear-gradient(to right, #241200 50%,#3b0303);
}
* {
    text-decoration: none;
}

html {
    background: var(--main-bg-color);
    min-height: 100%;
    background-repeat: no-repeat;
    scroll-behavior: smooth;
}

body {
    color: var(--cor-da-fonte);
    font-family: var(--fonte-secundaria);
}

.link {
    color: var(--cor-da-fonte);
}

.link:hover {
    background-color: #F6F6F650;
    font-size: 2.5rem;
    border-radius: 10px;
}
